<p>Diagnosis for:  <%= @name %></p>
<!-- <p>Last answer was: <%= @answer %></p> -->
<div class="question">
<form method="post" action="/diagnosis/">
  <!-- <p>Answers: <%= @answers.to_s %></p> -->
  <p class="question__text"><!-- <%= @question %>. --><%= @question_text %></p>
  <input type="radio" name="answer" value="yes" class="question__radio" id="yes"><label for="yes" class="question__label">Yes</label>
  <input type="radio" name="answer" value="no" class="question__radio" id="no"><label for="no" class="question__label">No</label>
  <input type="submit" class="question__button">
</form>
</div>